{% extends 'base.twig' %}

{% block title %}Oh Crap.{% endblock %}

{% block content %}
  <h2>Oh Crap - Not Found</h2>
  <p>It's not you, it's us.</p>
  <p>No wait, this is definitely you, no such page exists, head back to our <a href="{{ urlFor('home') }}">Homepage</a>.</p>
{% endblock %}
