{% extends 'base.twig' %}

{% block title %}About Suds{% endblock %}

{% block content %}
    <p>Suds allows you to acknowledge the work of your peers. Everytime you cheers a peer they earn some suds.  Eventually these suds can be redeemed for cash, food, prizes, etc.</p>
    <address>For a listing of all your peers and stats, see <a href="{{ urlFor('report') }}">Peer Report</a></address>
{% endblock %}
