{% extends 'base.twig' %}


{% block title %}Checkin Report{% endblock %}


{% block content %}
  <h3>Peers and Cheers</h3>
   <table><thead>
      <tr><th>Peer ID</th><th>Peer Handle</th><th>Cheers Count</th></tr> </thead>               
      {% for peer in peers %}                
            <tr><td><a href="{{ urlFor('api.user',{'id':peer.id}) }}">{{peer.user_id}}</a></td><td>{{peer.handle}}</td><td>{{peer.countOwn('cheer')}}</td></tr>
      {% endfor %}                
    </table>

  <hr>

{% endblock %}





       

